<div class="content">
  <div class="content-title">
    <h1>カテゴリー</h1>
  </div>
  <div class="content-box">
    <form>
      <span class="category-search-box">
        <input type="text" id="category-book-seach" placeholder="本を検索">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </form>
    <div class="category-box">
      <div class="category-item odd-item">
        <p>小説</p>
      </div>
      <div class="category-item">
        <p>ビジネス</p>
      </div>
      <div class="category-item odd-item">
        <p>スポーツ</p>
      </div>
      <div class="category-item">
        <p>漫画</p>
      </div>
      <div class="category-item odd-item">
        <p>コンピュータ</p>
      </div>
      <div class="category-item">
        <p>ノンフィクション</p>
      </div>
      <div class="category-item odd-item">
        <p>ミステリー</p>
      </div>
      <div class="category-item">
        <p>ライトノベル</p>
      </div>
      <div class="category-item odd-item">
        <p>科学</p>
      </div>
      <div class="category-item">
        <p>教育</p>
      </div>
      <div class="category-item odd-item">
        <p>子育て</p>
      </div>
      <div class="category-item">
        <p>政治</p>
      </div>
      <div class="category-item odd-item">
        <p>自叙伝</p>
      </div>
      <div class="category-item">
        <p>料理</p>
      </div>
      <div class="category-item odd-item">
        <p>歴史</p>
      </div>
      <div class="category-item">
        <p>アート</p>
      </div>
    </div>
  </div>
</div>
