<div class="content">
  <div class="content-title">
    <h1>リードアウト</h1>
  </div>
  <div class="content-box">
    <div class="readout-box">
      <div class="readout-content">
        <form>
          <div class="readout-book-title">
            <input type="text" placeholder="本のタイトル">
          </div>
          <div class="readout-book-evaluation">
            <input id="star5" type="radio" name="rate" value="5">
            <label for="star5">★</label>
            <input id="star4" type="radio" name="rate" value="4">
            <label for="star4">★</label>
            <input id="star3" type="radio" name="rate" value="3">
            <label for="star3">★</label>
            <input id="star2" type="radio" name="rate" value="2">
            <label for="star2">★</label>
            <input id="star1" type="radio" name="rate" value="1">
            <label for="star1">★</label>
            <p>評価</p>
          </div>
          <div class="readout-book-category">
            <div>
              <input type="checkbox">
              <label>小説</label>
              <input type="checkbox">
              <label>ビジネス</label>
              <input type="checkbox">
              <label>スポーツ</label>
              <input type="checkbox">
              <label>漫画</label>
              <input type="checkbox">
              <label>コンピュータ</label>
              <input type="checkbox">
              <label>ノンフィクション</label>
              <input type="checkbox">
              <label>ミステリー</label>
              <input type="checkbox">
              <label>ライトノベル</label>
              <input type="checkbox">
              <label>科学</label>
              <input type="checkbox">
              <label>教育</label>
              <input type="checkbox">
              <label>子育て</label>
              <input type="checkbox">
              <label>政治</label>
              <input type="checkbox">
              <label>自叙伝</label>
              <input type="checkbox">
              <label>料理</label>
              <input type="checkbox">
              <label>歴史</label>
              <input type="checkbox">
              <label>アート</label>
            </div>
            <p>※最低1つ</p>
          </div>
          <div class="readout-book-review">
            <input type="textarea" placeholder="レビュー">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
