<div class="account-container">
  <div class="account-box">
    <div class="account-content">
      <form>
        <div class="account-title">
          <h2>新規登録</h2>
        </div>
        <div class="account-name account-input-box">
          <label for="sign-up-name">アカウント名</label>
          <input type="text" placeholder="アカウント名を入力" id="sign-up-name">
        </div>
        <div class="account-email account-input-box">
          <label for="sign-up-email">メールアドレス</label>
          <input type="email" placeholder="メールアドレスを入力" id="sigu-up-email">
        </div>
        <div class="account-password account-input-box">
          <label for="sign-up-password">パスワード</label>
          <input type="password" placeholder="パスワードを入力" id="sign-up-password">
        </div>
        <div class="account-repassword account-input-box">
          <label for="sign-up-repassword">確認用パスワード</label>
          <input type="password" placeholder="確認用パスワードを入力">
        </div>
        <div class="account-submit-btn">
          <input type="submit" value="新規登録">
        </div>
      </form>
    </div>
  </div>
</div>
