<div class="account-container">
  <div class="account-box">
    <div class="account-content">
      <form>
        <div class="account-title">
          <h2>ログイン</h2>
        </div>
        <div class="account-email account-input-box">
          <label for="sign-up-email">メールアドレス</label>
          <input type="email" placeholder="メールアドレスを入力" id="sigu-up-email">
        </div>
        <div class="account-password account-input-box">
          <label for="sign-up-password">パスワード</label>
          <input type="password" placeholder="パスワードを入力" id="sign-up-password">
        </div>
        <div class="account-submit-btn">
          <input type="submit" value="ログイン">
        </div>
      </form>
    </div>
  </div>
</div>
