.header {
  border-bottom: 1px solid #DCDCDC;
  background-color: white;
  height: 100px;
}
.header-row {
  display: flex;
  margin: auto 12vw;
  height: 100px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.row-size {
  width: 33.3%;
}
.header-title img {
  width: 300px;
  align-self: flex-start;
}
.header-sign-link ul {
  display: flex;
  justify-content: end;
}
.header-sign-link .login-button {
  margin-right: 3vw;
}
.header-sign-link .login-button, .header-sign-link .sign-button, .logout-button {
  background-color: #00CC99;
  border-color: #00CC99;
}
.header-sign-link li, .logout-button li{
  text-align: center;
  padding: 7px 15px;
  font-weight: bold;
}
.header-sign-link li a, .logout-button li a{
  color: white;
}

.logout-button {
  margin-left: 10px;
}

.header-account-box {
  display: flex;
  align-items: center;
  /* width: 20%; */
  /* justify-content: space-between; */
  justify-content: end;
}


.header-account {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-right: 25px;
}
.header-account img {
  border-radius: 1.5rem;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  object-fit: cover;
}




/* ハンバーガーメニュー */

.header__nav {
  position: absolute;
  right: 0;
  top: 100px;
  width: 15%;
  height: calc(100% - 100px);
  transform: translateX(100%);
  background-color: #00CC99;
  transition: ease .4s;
  border: 1px solid #dcdcdc;
  padding-top: 50px;
}
.header__nav h3 {
  color: white;
  border-bottom: 4px solid white;
  margin: 0 30px;
  white-space: nowrap;
}

.nav-items {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  white-space: nowrap;
}

.nav-items li {
  list-style: square;
  color: white;
}
.nav-items__item a {
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
  padding-bottom: 5px;
  /* font-weight: bold; */
  text-align: left;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

.nav-items__item a:hover {
  border-bottom: 3px solid white;
}

/* ハンバーガーメニュー */
.header__hamburger {
  width: 48px;
  height: 100%;

}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
  /* width: 60px; */
}
.hamburger.active {
  width: 55px;
}
.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;

}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
} 

@media screen and (max-width: 1230px) {
  .header-row {
    margin: auto;
    padding: 20px;
  }
  .header__nav {
    width: 25%;
  }
  .nav-items__item a {
    font-size: 16px;
  }
} 

@media screen and (max-width: 750px) {
  .header-row {
    justify-content: space-between;
    padding: 10px 10px;
  }
  .row-size {
    width: auto;
  }
  .header-title {
    width: 150px;
    margin-right: 0;
  }
  .login-button, .sign-button {
    font-size: 0.8rem;
  }
  .nav-items__item a {
    font-size: 10px;
  }
}
