<div class="header">
  <div class="header-row">
    <div class="header-title row-size">
      <a href="/home/index">
        <%= image_tag 'logo.png' %>
      </a>
    </div>
    <div class="header-search-area row-size">
      <form>
        <span>
          <input type="text" id="book-seach">
          <i class="fa fa-search" aria-hidden="true">
            <label for="book-seach">探す</label>
          </i>
        </span>
      </form>
    </div>
    <div class="header-sign-link row-size">
      <ul>
        <div class="login-button button button-hover">
          <a href="/account/sign_in">
            <li>ログイン</li>
          </a>
        </div>
        <div class="sign-button button button-hover">
          <a href="/account/sign_up">
            <li>新規登録</li>
          </a>
        </div>
      </ul>
    </div>
  </div>
</div>


