<div class="notice-container">
  <% if notice %>
    <div class="notice-content">
      <p><%= notice %></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert-content">
      <p><%= alert %></p>
    </div>
  <% end %>
</div>
