<div class="feadout"id="readout" style="visibility: hidden;">
  <div class="readout-box">
    <div class="readout-head">
      <div class="readout-title">
        <h2>リードアウト</h2>
      </div>
      <div class="readout-cancel" id="cancelBtn">
        <a>✖️</a>
      </div>
    </div>
    <div class="readout-content">
      <form>
        <div class="readout-book-title row-margin">
          <input type="text" placeholder="本のタイトル">
        </div>
        <div class="readout-book-author row-margin">
          <input type="text" placeholder="著者">
        </div>
        <div class="readout-book-publish row-margin">
          <input type="text" placeholder="出版社">
        </div>
        <div class="readout-book-evaluation row-margin">
          <input id="star5" type="radio" name="rate" value="5">
          <label for="star5">★</label>
          <input id="star4" type="radio" name="rate" value="4">
          <label for="star4">★</label>
          <input id="star3" type="radio" name="rate" value="3">
          <label for="star3">★</label>
          <input id="star2" type="radio" name="rate" value="2">
          <label for="star2">★</label>
          <input id="star1" type="radio" name="rate" value="1">
          <label for="star1">★</label>
          <p class="readout-book-evaluation-value">評価</p>
        </div>
        <div class="readout-book-category row-margin">
          <div class="readout-book-category-title">
            <p>
              カテゴリー
            </p>
          </div>
          <div>
            <input type="checkbox">
            <label>小説</label>
            <input type="checkbox">
            <label>ビジネス</label>
            <input type="checkbox">
            <label>スポーツ</label>
            <input type="checkbox">
            <label>漫画</label>
            <input type="checkbox">
            <label>コンピュータ</label>
            <input type="checkbox">
            <label>ノンフィクション</label>
            <input type="checkbox">
            <label>ミステリー</label>
            <input type="checkbox">
            <label>ライトノベル</label>
            <input type="checkbox">
            <label>科学</label>
            <input type="checkbox">
            <label>教育</label>
            <input type="checkbox">
            <label>子育て</label>
            <input type="checkbox">
            <label>政治</label>
            <input type="checkbox">
            <label>自叙伝</label>
            <input type="checkbox">
            <label>料理</label>
            <input type="checkbox">
            <label>歴史</label>
            <input type="checkbox">
            <label>アート</label>
          </div>
          <p class="readout-attention">※最低1つ</p>
        </div>
        <div class="readout-book-review">
          <textarea rows="5" placeholder="レビュー"></textarea>
        </div>
        <div class="readout-book-submit">
          <input type="submit" value="投稿する">
        </div>
      </form>
    </div>
  </div>
</div>
