<div class="sidebar">
  <nav>
    <ul>
      <a href="/">
        <i class="fa fa-home fa-2x hover-border" aria-hidden="true">
            <li class="middle-response">ホーム</li>
        </i>
      </a>
      <a href="/home/category">
        <i class="fa fa-search fa-2x hover-border" aria-hidden="true">
          <li class="middle-response">本を探す</li>
        </i>
      </a>
      <a href="/home/notice">
        <i class="fa fa-bell fa-2x hover-border" aria-hidden="true">
          <li class="middle-response">通知</li>
        </i>
      </a>
      <a href="/home/plan">
        <i class="fa fa-calendar fa-2x hover-border" aria-hidden="true">
          <li class="middle-response">読書計画</li>
        </i>
      </a>
      <div class="bookout-button">
        <a id="readoutBtn">
          <li>
            <i class="fa fa-book" aria-hidden="true"><span class="middle-response">リードアウト</span></i>
          </li>
        </a>
      </div>
    </ul>
  </nav>
</div>

